body {
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 56px;
	background-color: black;
}

html, body {
	height: 100%;
}

@media only screen and (max-width: 599px) {

	#gameDescriptions div img {
		width: 100%;
	}
	#title {
		width: 90%;
	}
	#gameImages {
		flex-direction: column;

	}
	#gameImages img{
		width: 120vw;
		height: 80px;
		object-fit: cover;
	}
	#aboutBlurb {
		flex-direction: column;
	}
	#aboutBlurb p{
		width: 70%;
	}
	#donations {
		flex-direction: column;
	}
	.donateOption {
		margin-bottom: 10px !important;
	}
	#game {
		width: 90vw;
		opacity: 100;
	}
	#gameText h2 strong{
		font-size: 1.25rem;
	}
	#gameText h3 strong{
		font-size: 1.1rem;
	}
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
	#donations p {
		margin: 10px !important;
	}
	#gameDescriptions div {
		flex: 0 0;
	}
	#gameImages img {
		width: 580px;
		height: 360px;
	}
	#gameDescriptions div img {
		width: 80vw;
	}
	#title {
		width: 90%;
	}
	#game {
		width: 80vw;
	}
	#gameText h2 strong{
		font-size: 1.25rem;
	}
	#gameText:not(.futureGame) h2 strong{
		display:none;
	}
}
/* Desktop */
@media only screen and (min-width: 769px) {
	#gameImages img {
		width: 580px;
		height: 360px;
	}
	#gameDescriptions div img {
		width: 350px;
	}

	#gameDescriptions div {
		flex: 0 0;
	}
	#gameDescriptions div:first-child img {
		width: 500px;
	}
	#gameImages img {
		width: 580px;
		height: 360px;
	}
	#gameDescriptions div:first-child {
		margin-left: 50%;
		margin-right: 50%;
	}
	#title {
		width: 50%;
	}
	#aboutBlurb {
		margin: 100px;
	}
	#aboutBlurb p{
		width: 50%;
	}
	#donations p {
		font-size: 20px;
	}
	#donationDescription {
		margin-left: 80px;
		margin-right: 80px;
	}
	#game {
		height: 70vh;
	}
	#gameText:not(.futureGame) h2 strong{
		display:none;
	}
}

.navbar-toggler {
	color: #dadada !important;
}

.navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: black !important;
	z-index: 10000;

}

#randomPreset {
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 25px;
}

#randomPreset:hover {
	cursor: default;
	box-shadow: 0 0 15px black, 0 0 15px #FFFFFF, 0 0 30px black;
}

#gameImages {
	display: flex;
	background-color: white;
	justify-content: center;
	overflow: hidden;
	align-items: center;
}

#gameImages img {
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
	filter: blur(3px);// brightness(0);
	-webkit-filter: blur(3px);
	opacity: .7;
}

.centered {
	width: 100%;
	display: flex;
	justify-content: center;
}

#gameText.centered {
	display: block;
	text-align: center;
}

#gameText {
	position: absolute;
	text-shadow: 0 0 15px #FFFFFF, 0 0 15px #FFFFFF, 0 0 30px #FFFFFF;
}

#gameBoxStuff {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown-menu {
	background-color: black;
}

.dropdown-item {
	color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
	background-color: #999999;
}

footer {
	height: 75px;
	background-color: black;
	width: 100%;
	display: flex;
	align-items: center;

	position:absolute;
	left:0;
	right:0;
}

#gameDescriptions {
	display: flex;
	flex-wrap: wrap;
  	justify-content: space-around;
}

.dark {
	background-color: #333333;
}

#gameDescriptions div {
	box-shadow: 0 0 30px #FFFFFF;
	padding: 30px;
	margin: 30px;
	background-color: white;
	border-radius: 3px;
}

#gameDescriptions div img {
	margin-bottom: 20px;
}



#donations {
	display: flex;
	justify-content: space-around;
	width: 70%;
	padding-bottom: 40px;
	text-decoration: none;
}

#donations p {
	text-align: center;
	min-width: 130px;
	//padding: 50px;
	background-color: red;
	padding: 20px;
	border-radius: 4px;
	color: black;
	margin: 0px;

}

#donationDescription {
	margin: 30px;
}

#gameDescriptions.gamePage div:first-child h3{
	width: 80vw;
}

#mainContent {
	width: 100%;
	margin: 0px;
	padding-top: 20px;
	background-color: white;
	padding-bottom: 40px;
}

#aboutBlurb {
	display: flex;
	justify-content: space-around;
	margin-top: 0px;
	align-items: center;

	margin-bottom: 0px;
}

#aboutBlurb p{
	font-size: 18px;
}

#aboutImage {
	width: 50%;
}

#game {
	margin-top: 10px;
}

.unavailableGame {
	-webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
	filter: blur(3px);
	-webkit-filter: blur(3px);
	opacity: .7;
}

#game {
	background-color: black;
}
